extends layout

block content

  .flex.justify-between
    div
      h1 Crush your PNGs
      h3= pkg.description
    div
      script(
        async
        type="text/javascript"
        src="//cdn.carbonads.com/carbon.js?serve=CK7D527L&placement=pngcrushcom"
        id="_carbonads_js"
      )

  .flex
    .flex-1.p-8.border

      h2 Input Image

      form#input-form.w-full(method="post" name="f" action="/crush" enctype="multipart/form-data")
        .flex.flex-wrap.-mx-3.mb-6
          .w-full.px-3
            label.block.uppercase.tracking-wide.text-grey-darker.text.sm.font-bold.mb-2(for="file") Select an input PNG File
            input#file(name="input" type="file" autofocus="autofocus" ref="files" @change="onChangeFile")
        .flex.flex-wrap.-mx-3.mb-6
          .w-full.px-3
            button#crush.bg-teal.border-teal.border-4.text-white.py-1.px-2.rounded.mr-4(class="hover:bg-teal-dark hover:border-teal-dark" type="submit" @click.prevent.stop="onCrush") Crush
            input#clear.border-transparent.border-4.text-teal.py-1.px-2.rounded(class="hover:text-teal-darker" type="reset" value="Clear" @click="onClear")

      div.my-6

        h3 Crushed Files

        div(v-if="!images.length")
          p Crushed files will appear here.

        .detail.border.bg-teal-lightest.border.border-teal-dark.rounded-lg.mb-2(v-for="image in images")
          div.flex.align-items
            div.block.bg-white.border.border-teal-dark.rounded-lg.p-4.m-2.text-teal-dark.text-center.flex-1
              em Original
              br
              strong {{ image.size }}
              br
              em bytes
            div.block.bg-white.border.border-teal-dark.rounded-lg.p-4.m-2.text-teal-dark.text-center.flex-1
              em Crushed
              br
              strong {{ image.newSize }}
              br
              em bytes
            div.block.bg-white.border.border-teal-dark.rounded-lg.p-4.m-2.text-teal-dark.text-center.flex-1
              em Saved
              br
              strong {{ image.saved }}
              br
              em bytes
          div.flex.align-items.justify-between
            div.flex-grow
              h3.m-4 {{ image.filename }}
              p.m-4 {{ image.status }}
            div
              a.block.bg-white.border.border-teal-dark.fa.fa-download.rounded-full.p-6.mr-4.mb-4.mt-2.ml-2.text-teal-dark(:href="image.downloadUrl" title="Download")

    .flex-1.p-8.border

      h2 Preview

      img#preview.w-full.mb-4.shadow-md.block(:src="preview")

      p#filename.text-center.font-bold.mb-2 {{ filename }}
      p.text-center.mb-2
        span#filetype {{ type }}
        |
        |
        span#size {{ size || '' }}

  h2 API

  p Do not hotlink to images since they will be removed every 10 minutes. Maximum filesize is 5MB.

  h3 General

  p.
    To crush your PNG files perform a POST request to <code>https://pngcrush.com/crush</code> with the
    <code>input</code> parameter set to the file content you want to crush.

  pre.bg-grey-lighter.border.p-6.mb-6.overflow-x-auto.
    POST https://pngcrush.com/crush?input=...

  p For example:

  pre.bg-grey-lighter.border.p-6.mb-6.overflow-x-auto.
    curl -X POST -s --form "input=@filename.png;type=image/png" https://pngcrush.com/crush > crushed.png

  p
    | To see implementations in other languages see the 
    a(href="/examples" ) Examples
    |  page.


  p (Ends)
