extends layout

block content
  h3.muted Stats

  table.table.table-striped(style="table-layout: fixed; width: 50%;")
    thead
      tr
        th Day
        th.r Home
        th.r Examples
        th.r Crush
        th.r Download
    tbody
      for ts in Object.keys(stats).sort()
        tr
          td= moment(ts * 1000).format("YYYY-MM-DD")
          td.r= stats[ts].home || 0
          td.r= stats[ts].examples || 0
          td.r= stats[ts].crush || 0
          td.r= stats[ts].download || 0

  p (Ends)
